<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>8b44c43a-1dd8-4f47-b9a5-c43ac94cc961</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>135467</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>10292897</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
            <Weight>1</Weight>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata/>
            <Name>AdDuplex</Name>
            <Weight>1</Weight>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-27AB68D2-33A7-4A6A-9374-B3E9F6C4E48C</Id>
        <Name>AdMediator_4D06E3</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
    <ConfigurationUri>https://admediatorcdn.windowsphone.com/admediatorconfig/802dfc40-43dd-4fff-9557-ac27f1d013c5/baseline.config</ConfigurationUri>
    <Version>1.1.0</Version>
  </BaseConfiguration>
  <CdnUriFormat>https://admediatorcdn.windowsphone.com/admediatorconfig/802dfc40-43dd-4fff-9557-ac27f1d013c5/{0}.config</CdnUriFormat>
  <ConfigId>802dfc40-43dd-4fff-9557-ac27f1d013c5</ConfigId>
  <FileVersion>1.1.0</FileVersion>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-27AB68D2-33A7-4A6A-9374-B3E9F6C4E48C</Id>
        <Name>AdMediator_4D06E3</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2015-02-04T18:18:16.6582223Z</UpdatedDateTime>
</AdMediatorConfiguration>